
<div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Welcome <% user.username%> <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#">Account Information</a></li>
        <li><a href="#">Add/Edit A Business</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Logout</a></li> <!-- call the logout -->
    </ul>
</div>