

<div class="panel panel-default">
    <div class="panel-heading">
        <%= business[i].businessname %>
    </div>
    <div class="panel-body"><%= business[i].businessdescription %></div>
    Created by: <%= business[i].addbyusername %>
</div>