<% include partials/header.ejs%>

<!-- content is generated here using injection from individual routers
 for each page giving a half dynamic, half parsed page layout.
 -->
<div ng-app="routerApp">

  <ul class="nav nav-tabs">
    <li class="active"><a href="#">About</a></li>
    <li><a href="#">View Business</a></li>
    <li><a href="#">Current Business</a></li>
  </ul>

  <!-- view control for the injection -->
  <div class="container">
    <div ui-view></div>
  </div>



</div>



<% include partials/footer.ejs %>