body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.center_div{
  margin: 0 auto;
  width:80%; /* value of your choice which suits your alignment */
  color: #c9e2b3;
}