<table class="table-stripped">
table loaded
    <thread>
        <tr>
            <th>Name</th>
            <th>phone</th>
            <th>Name</th>
        </tr>
    </thread>
    <tbody>
    <tr ng-repeat="person in dataset">
        <td>
            {{person.fname}} {{person.lname}}
        </td>
        <td>
            {{person.phone}}
        </td>
    </tr>
    </tbody>
</table>